<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <title>Push notifications</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
</head>
<body>

  {{{ body }}}
  
  <!-- scripts -->
  <script src="https://www.gstatic.com/firebasejs/4.1.5/firebase.js"></script>
  <script src="/app.js"></script>
</body>
</html>